.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.contact {
  margin-top: -5px;
}
.col-sm-4, .col-sm-8 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.col-sm-4 h5{
  margin-left: -35px;
  margin-right: -35px;
  background: #babdbd;
  padding-left: 18px;
  font-variant: all-petite-caps;
}
.accolades {
  margin-right: -32px;
}
.col-sm-4 .card-header {
  background: #cec7c7;
  font-variant: petite-caps;
}
.col-sm-4 .card-body p{
  margin: 3px;
}
.col-sm-8 .card-header {
  background: #babdbd;
  font-variant: petite-caps;
}
.col-sm-8 h5 {
  background: #cec7c7;
  margin-left: -21px;
  margin-right: -21px;
  padding-left: 18px;
  font-variant: all-petite-caps;
}
.card-body {
  margin-top: -20px;
}
.col-sm-4, .col-sm-8, h5 {
  color: black;
  /* font-family: fantasy !important; */
}
.companyName {
  margin-top: -16px !important;
}
body {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}